<!doctype html>
<html lang="en">
    <style>
        html {
            background-image: url(../images/admin-background.png);
            background-repeat: no-repeat;
            background-size:cover;
        }
    </style>
<head>
	<meta charset="utf-8" />
	<title>Admin</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="images/logo.png" id="logo">
	<p id="title">Admin</p>
    <a class="links" href="/">Home</a>
    <a class="links" href="/board">Jobs</a>
    <a class="links" href="/about">About</a>
    <a class="links" href="/login">Login</a>
    <a class="links" href="/login">Admin</a><br>
    <p id="btn-header">Actions</p>
    <div id="btns">
        <a class="admin-links" href="/addJobs"><button type="button" class="admin-btns">Add Jobs</button></a><br>
        <a class="admin-links" href="/viewApps"><button type="button" class="admin-btns">View Applicants</button></a><br>
        <a class="admin-links" href="/removeJobs"><button type="button" class="admin-btns">Remove all Jobs</button></a><br>
        <a class="admin-links" href="/removeApps"><button type="button" class="admin-btns">Remove all Applicants</button></a><br>
    </div>
</body>
</html>