<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add Jobs</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="/images/logo.png" id="logo">
	<p id="title">Add Jobs</p>
    <a class="links" href="/">Home</a>
    <a class="links" href="/board">Jobs</a>
    <a class="links" href="/about">About</a>
    <a class="links" href="/login">Login</a><br>
    <div class="center-div">
        <form id="add-job-form" action=<%- port %> method="post">
            <fieldset>
                <legend>Complete to Apply</legend>
                Name: <input type="text" size="25" name="name"> <br>
                Username: <input type="text" size="25" name="username"> <br>
                Position: <input type="text" size="25" name="position" value="<%- position %>" readonly="true"> <br>
                Company: <input type="text" size="25" name="company" value="<%- company %>" readonly="true"> <br>
                Additional Info: <br> <textarea rows="5" cols="50" name="info"></textarea> <br>
                <input type="submit" value="Submit" class="admin-btns">
            </fieldset>
        </form>
    </div>
    <div id="add-footer"></div>
</body>
</html>