<!doctype html>
<html lang="en">
<style>
    html {
        background-image: url(../images/background.jpeg);
    }
</style>
<head>
	<meta charset="utf-8" />
	<title>Job Board</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="images/logo.png" id="logo">
	<p id="title">Job Board</p>
    <a class="links" href="/">Home</a>
    <a class="links" href="/board">Jobs</a>
    <a class="links" href="/about">About</a>
    <a class="links" href="/login">Login</a>
</body>
</html>