<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Invalid Login</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="images/logo.png" id="logo">
	<p id="title">Invalid Login</p>
    <a class="links" href="/">Home</a>
    <a class="links" href="/board">Jobs</a>
    <a class="links" href="/about">About</a>
    <a class="links" href="/login">Login</a>
    <p id="invalid">Invalid login.<br>Click login to try again.</p>
</body>
</html>