<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Login</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="images/logo.png" id="logo">
	<p id="title">User Login</p>
    <a class="links" href="/">Home</a>
    <a class="links" href="/board">Jobs</a>
    <a class="links" href="/about">About</a>
    <a class="links" href="/login">Login</a>
    <div class="center-div">
        <script src="/jobBoardServer.js"></script>
        <form id="login-form" action=<%- port %> method="post">
            <fieldset>
                <legend>Login</legend>
                Username: <br>
                <input type="text" size="20" id="username" name="username"> <br>
                Password: <br>
                <input type="text" size="20" id="password" name="password"> <br>
                <div id="hint">It's easy as 1234</div><br>
                <input type="submit" value="Login" class="admin-btns">  
                <a href="/register"><button type="button" class="admin-btns">Register</button></a><br>
            </fieldset>
        </form>
    </div>
</body>
</html>