<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed Applications</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="images/logo.png" id="logo">
	<p id="title">All Applications Removed</p>
    <a class="links" href="/">Home</a>
    <a class="links" href="/board">Jobs</a>
    <a class="links" href="/about">About</a>
    <a class="links" href="/admin">Admin</a>
    <p class="back-to-admin">All Applications have been removed.<br>
        Number of applications deleted: <%- removed %><br>
        Click <a href="/user">here</a> to return to admin page.</p>
</body>
</html>