<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>All Applicants</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="images/logo.png" id="logo">
	<p id="title">All Applicants</p>
    <a class="links" href="/">Home</a>
    <a class="links" href="/board">Jobs</a>
    <a class="links" href="/about">About</a>
    <a class="links" href="/admin">Admin</a><br>
    <br><br>
    <div class="center-div">
        <%- table %>
    </div>
</body>
</html>