/* Google Font API Import */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');

html {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: white;
}

#title {
    color: black;
    font-size: 50px;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}

#title, #logo, .links {
    display: inline-block;
    position: relative;
}

#logo {
    height: 100px;
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
}

.links {
    padding-right: 15px;
    font-size: 30px;
}

#background {
    height: 700px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#about {
    font-size: 40px;
    margin-right: 850px;
    margin-left: 20px;
}

#form {
    display: block;
    text-align: center;
}

#login {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#login, input, button {
    font-size: 25px;
}

#invalid {
    font-size: 25px;
    color: red;
    text-align: center;
}

#hint {
    font-size: 15px;
    text-align: center;
    color: blue;
}

#btn-header {
    margin-left: 200px;
    font-size: 40px;
    color: darkblue;
}

#btns {
    display: block;
    text-align: center;
    margin-right: 950px;
}

.admin-btns {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkblue;
    color: white;
    border: 5px solid darkblue;
    border-radius: 5px;
}

.admin-btns:hover {
    box-shadow: 10px 5px 5px gray;
}